# PYTHON-SLICING

In [3]:
#PYTHON-SLICING
sk="skchangthushainsahil"
print(sk[2:10])

changthu

In [7]:
print(sk[-5:-10:-1])

sniah

In [9]:
print(sk[-9:-16:-1])

hsuhtgn

In [10]:
print(sk[-1:0:-1])

lihasniahsuhtgnahck

In [13]:
print(sk[-1:-18:-1])

lihasniahsuhtgnah

In [14]:
print(sk[-1:1:-1])

lihasniahsuhtgnahc

In [17]:
print(sk[-1:-en(sk)

# Q- Print a string in inverse from using slicing?

In [20]:
sk="skchangthushainsahil"
print(sk[-1:-len(sk)-1:-1])

lihasniahsuhtgnahcks

In [21]:
len(sk)

20

In [22]:
print(sk[:-1])

skchangthushainsahi

In [23]:
# Sotp is not here by defolt it's print up to last point
print(sk[0:])

skchangthushainsahil

In [24]:
# check 2 step forward
print(sk[::2])

scaghsanai

In [25]:
# check 2 step backward 
print(sk[::-2])

lhsihutnhk

# Q- Print a string in inverse from using slicing?

In [27]:
# check 2 step backward 
print(sk[::-1])

lihasniahsuhtgnahcks

In [29]:
# check 3 step forkwardb same as backword
print(sk[0::3])

shguasi

In [32]:
# Q- We can use negative indexes to start the slice from the end of the sting:
b="hello, world!"
print(b[-5:-2])

orl

# We can make a string word all uppercase and lowercase.

In [33]:
# for uppercase we use upper() function. And lower() function to lower case
#Eg:
word="hello python"
print(word.upper())

HELLO PYTHON

In [34]:
#Eg:
word="HELLO PYTHON"
print(word.lower())

hello python

In [35]:
# We can remove white space with a strip() function. Whitespace is the space before and/or after the actual text, and very often you want to removethis space.
#Eg:
a=" hello, world! "
print(a.strip())

hello, world!

In [36]:
print(a)

 hello, world!

# We can replace a letter in a string by replace() function,

In [37]:
# We can replace a letter in a string by replace() function,
a="Hello, World"
print(a.replace("H","S"))

Sello, World

# The split() method returns a list where the text between the specified separator becomes the list items.

In [38]:
a="hello, world!"
print(a.split(","))

['hello', ' world!']

In [39]:
a="Hello World!"
print(a.split(" "))

['Hello', 'World!']

In [40]:
#Concatenation 
# Q- We can use + operator to combile, or concatenation.
A="hello"
B="python"
v=A+B
print(v)

hellopython

# String format

In [41]:
# We cannot combine strings and numbers like this:
age=36
txt="My name is sahil, I am"+ age
print(txt)

TypeError: can only concatenate str (not "int") to str

# The format() method takes the passed arguments, formates then, and places then in the string where the placeholder {} are:

In [44]:
age=36
txt="My name is Sahil, and I am {}"
print(txt.format(age))

My name is Sahil, and I am 36

# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [45]:
amount=3212
orderno=4776
quantity=10
myorder="I want{} of my order{} for {} rupees."
print(myorder.format(quantity,orderno,amount))

I want10 of my order4776 for 3212 rupees.

# Escape Character

In [49]:
txt="We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Python Booleans

In [50]:
print(10==10)

True

In [51]:
print(10<9)

False

In [52]:
print(10==100)

False

In [53]:
print(10**2==100)

True

# In python almost every value is True:
## Almost any value is evaluated to True if it has some sort of content.
## Any string is True, except empty string.
## Any number is True, except 0.
## Any list, tuple, set, and dictinory are True, except empty ones.

In [54]:
# Eg:
print(bool("hello"))

True

In [55]:
print(bool(""))

False

In [56]:
print(bool(1))

True

In [57]:
print(bool(0))

False

In [58]:
print(bool(["apple", "cherry", "banana"]))

True

In [59]:
print(bool([]))

False

In [62]:
print(bool(False))

False

In [64]:
print(bool(None))

False

In [68]:
print(bool(0))

False

In [67]:
bool(())

False

In [69]:
bool([])

False

# The above program will be a function we will discuss this in function section.

In [70]:
x=200
print(isinstance(x, int))

True

In [71]:
x=200
print(isinstance(x, str))

False

# PYTHON PERTATORS

# Python divides the operators in the following group:
## 1. Arithmetic operator---  ' + '
## 2. Assignment operators--- ' = '
## 3. Comparision operators--- ' ==, <, >, '
## 4. Logical operators--- ' or, in, not in '
## 5. Identity operators---
## 6. Membership operators--- 
## 7. Bitwise operators---