# TUPLES ( Unchangeable ot immutable)

## 1. List, 2. Tuple, 3. Dictnory 4. Set 
## Tuples start and end with rount bracket.

In [1]:
fruits=("apple","orange","kiwi")
print(fruits)

('apple', 'orange', 'kiwi')

In [7]:
print(type(fruits))

<class 'tuple'>

## len function for finding how many eliment in a tuple

In [4]:
fruits=("apple","orange","kiwi","pine apple")
print(len(fruits))

4

## wee can inpute of datatypes in a tuple. string, int and boolean.

In [5]:
variety=("abc",34, True, 40, "make")

In [6]:
print(variety)

('abc', 34, True, 40, 'make')

## Accessing an item in tuple is just like we access in list, we need to specify the index of the item we need to get.

In [9]:
fruits=("apple","banana","cherry")
print(fruits[1])

banana

## As like the list we can negative index them too.

In [10]:
fruits=("apple","orange","kiwi")
print(fruits[-1])

kiwi

## As mentioned we can get items form the given range.

In [11]:
fruits=("apple","banana","cherry","orane","kiwi","melon")
print(fruits[3:])

('orane', 'kiwi', 'melon')

## As earlier we said PPT-101

In [12]:
x=("apple","banana","cherry")
y=list(x)
y[1]="watermelon"
print(x)

('apple', 'banana', 'cherry')

In [13]:
x=("apple","banana","cherry")

In [14]:
type(x)

tuple

In [15]:
y=list(x)

In [16]:
type(y)

list

In [17]:
print(y)

['apple', 'banana', 'cherry']

In [18]:
y[1]="watermelon"

In [19]:
print(y)

['apple', 'watermelon', 'cherry']

In [20]:
x=tuple(y)

In [21]:
type(x)

tuple

In [22]:
print(x)

('apple', 'watermelon', 'cherry')

## When we assign some valies in tuple ,it will be crerated the is also called packing or TUPLE.

In [24]:
fruits=("apple","banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

## in python we can unpack this=("apple","banana","cherry")
## We can extract the packed values ,this is called unpacking.

In [25]:
fruits=("apple","banana","cherry")
(green, yellow, red)=fruits

In [26]:
print(green)

apple

In [27]:
print(yellow)

banana

In [28]:
print(red)

cherry

## The above methodes can be used in tuples.

In [31]:
fruits.count

In [38]:
num=(1,2,1,3,1,4,2,5)

In [33]:
num.count(1)

3

In [40]:
num.count(2)

2

In [34]:
num.index(3)

3

In [35]:
num.index(1)

0

In [37]:
num.index(4)

5

# SETS -- Sets are unorderd, unindexed, unchangeable and it will not allow duplicate. A set is a collection which is both unorderd and unindexed 
## Sets are written with curly brackets.

In [41]:
fruits={"apple","banana","cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

## Just like the others here also we can find the length od a set and we can find the type and same as others it have constructor.

In [42]:
len(fruits)

3

In [43]:
type(fruits)

set

## Because of Unidexed we can't call like list or tuple. 
## We need to loop it, by using for

In [46]:
fruits={"apple","banana","cherry"}
for x in fruits:
    print(x)

apple
banana
cherry

# add()

In [50]:
fruits={"apple","banana","cherry"}
fruits.add("guava")
print(fruits)

{'apple', 'banana', 'guava', 'cherry'}

## Update()--> We can merge list or tuple set using this function.

In [51]:
fruits={"apple","banana","cherry"}
mylist=["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'apple', 'cherry', 'banana', 'kiwi', 'orange'}

## Remove an item ina set, sue the remove(), or the discard() method.

In [55]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [57]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

## We can use pop(), del(), clear()

In [59]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [60]:
fruits={"apple","banana","cherry"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [61]:
fruits={"apple","banana","cherry"}
x=fruits.pop()
print(x)

apple

In [62]:
print(fruits)

{'banana', 'cherry'}

## in math we all studied union, intersection and all thea will implement here, for joining sets.

## Union() function
### The unoin() method returns a new set with all items from both sets.

In [65]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

## Update()

In [67]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

## Both union() and update() will exclude and duplicate items.

## The intersection_update() method will keep only the items that are present in both sets.

In [68]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

## The inyersection() method will return a new set, thet only contains the items that are present in both sets.

In [69]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

## The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [71]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'microsoft', 'google'}

## The symmetric_difference_update() method return a new set, that contains only the elements that are NOT present in both sets. PPT--111

In [75]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'banana', 'cherry', 'microsoft', 'google'}