# For loop.

In [1]:
# print("List Iteration")
I=["hello","for","python"]
for i in I:
    print(i)

hello
for
python

In [2]:
print(I[0])

hello

In [3]:
print(I[1])

for

In [4]:
print(I[2])

python

In [5]:
print("\nTuple Iteration")
t=("hello","for","python")
for i in t:
    print(i)

Tuple Iteration
hello
for
python

# Iterating over dictonary

In [6]:
print("\nDictonary Ipteation")
d=dict()
d['xyz']=123
d['abc']=345
for i in d:
    print("%s %d"%(i,d[i]))

Dictonary Ipteation
xyz 123
abc 345

In [7]:
print("\nDictonary Ipteation")
d=dict()
d['xyz']=123
d['abc']=345
for i in d:
    print(i,d[i])

Dictonary Ipteation
xyz 123
abc 345

# Loop Control Statements

## Continue--->

In [8]:
for X in "python developer":
    if X=='e' or X =='o':
        continue
    print('Current Letter:', X)

Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: n
Current Letter:
Current Letter: d
Current Letter: v
Current Letter: l
Current Letter: p
Current Letter: r

# Q-1. Write a python prorgramme to print the kolkata from kolkata, skip k and a.

In [9]:
j="kolkata"

In [10]:
for j in j:
    if j=="k" or j=="a":
        continue
    print(j)

o
l
t

In [11]:
for j in "kolkata ipcs":
    if j=='k' or j =='c':
        continue
    print('Current Letter', j)

Current Letter o
Current Letter l
Current Letter a
Current Letter t
Current Letter a
Current Letter
Current Letter i
Current Letter p
Current Letter s

In [12]:
# Q---

# Break--> It brings control out of the loop.

In [13]:
for x in 'python developer':
    # break the loop as soon it sees 'e' or 'o'
    if x =='o' or x=='o':
        break
    print('Current Letter:', x)

Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h

In [14]:
for k in 'sahil sahin':
    # break the loop as soon it sees 'n' or 'n'
    if k =='n' or k=='n':
        break
    print('Current Letter:', k)

Current Letter: s
Current Letter: a
Current Letter: h
Current Letter: i
Current Letter: l
Current Letter:
Current Letter: s
Current Letter: a
Current Letter: h
Current Letter: i

# Pass--->

In [15]:
k="sahil sahin"

In [16]:
for k in k:
    pass
print("last letter:",k)

last letter: n

In [17]:
x='python Developer'
for x in x:
    pass
print("last letter:",x)

last letter: r

In [18]:
x='python Developer'
for x in x:
    pass
print("last letter:",x)

last letter: r

# Range() function

In [19]:
# Stop--

In [20]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

# Start and stop, print natural number from 2 to 50

In [22]:
for i in range(2,50):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [23]:
for i in range(2,50):
    print(i,end=" $ ")

2 $ 3 $ 4 $ 5 $ 6 $ 7 $ 8 $ 9 $ 10 $ 11 $ 12 $ 13 $ 14 $ 15 $ 16 $ 17 $ 18 $ 19 $ 20 $ 21 $ 22 $ 23 $ 24 $ 25 $ 26 $ 27 $ 28 $ 29 $ 30 $ 31 $ 32 $ 33 $ 34 $ 35 $ 36 $ 37 $ 38 $ 39 $ 40 $ 41 $ 42 $ 43 $ 44 $ 45 $ 46 $ 47 $ 48 $ 49 $

# Start, stop, end

In [24]:
for i in range(2,12,3):
    print(i)

2
5
8
11

In [25]:
for i in range(2,12,3):
    print(i,end=" ")

2 5 8 11

In [26]:
for i in range(2,12,3):
    pass

In [27]:
for i in range(2,19,3):
    print(i,end=" ")

2 5 8 11 14 17

# using range for iteration

In [28]:
I=[10,20,30,40]
for i in range(len(I)):
    print(I[i], end=" ")
print()

10 20 30 40

# Q-1. Write a python prorgramme to print the number from 1 to 10, skip 5 and 10.

In [29]:
for k in range(1,11):
    if k==5 or k==10:
        continue
    print(k)
    if k==10:
        break

1
2
3
4
6
7
8
9

# Q-- Print the sum of first 10 natural number.

In [30]:
sum=0
for i in range(1,11):
    sum=sum+i
print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 55

In [31]:
sum=0
for i in range(1,11):
    sum=sum+i
    print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 1
sum of first 10 natural number: 3
sum of first 10 natural number: 6
sum of first 10 natural number: 10
sum of first 10 natural number: 15
sum of first 10 natural number: 21
sum of first 10 natural number: 28
sum of first 10 natural number: 36
sum of first 10 natural number: 45
sum of first 10 natural number: 55

In [32]:
sum=0
for i in range(1,41):
    sum=sum+i
print("sum of first 10 natural number:",sum)

sum of first 10 natural number: 820

# For- else loop

In [33]:
for i in range(1,4):
    print(i)
else: # Executed vecause on break in for
    print("No Break\n")

1
2
3
No Break

# No Break

In [34]:
for i in range(1,4):
    print(i)
    break

1

# Nested loop

In [35]:
adj=["red","big","testy"]
fruits=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
testy apple
testy banana
testy cherry

In [36]:
adj=[5,9,7]
fruits=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

5 apple
5 banana
5 cherry
9 apple
9 banana
9 cherry
7 apple
7 banana
7 cherry

# Q-- write down 1 to 10 number and their coresponding square value

In [37]:
for i in range(1,11):
    print(i,i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100